* {
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.home {
    width: 100%;
}

html,
body {
    margin: 0;
}

.home-box {
    height: 769px;
    background: #585858;
    display: flex;
    z-index: -9999;
    width: 100%;
}

.Account-overview__title {
    font-size: 30px;
    font-weight: 900;
    justify-content: center;
}

.home-box__img {
    position: absolute;
    width: 306px;
    height: 356px;
    top: 194.98px;
}

.home-box__review {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 70px;
}

.home-box__right {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-box__review--blue {
    width: 361px;
    height: 185px;
}

.home-box__review--orange {
    width: 361px;
    height: 185px;
    bottom: 80px;
    margin-left: 500px;
    position: relative;
}

.home-box__review--purple {
    width: 361px;
    height: 185px;
    position: relative;
    bottom: 120px;
}

.home-box__review--white {
    width: 361px;
    height: 185px;
    bottom: 180px;
    margin-left: 500px;
    position: relative;
}

.home-box__review--blue--main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 32px;
    position: static;
    width: 453px;
    height: 157px;
    left: calc(50% - 353px / 2 + 4px);
    top: 0px;
    /* blue */
    background: #22abf3;
    border-radius: 12px;
}

.home-box__review--orange--main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 32px;
    position: static;
    width: 453px;
    height: 157px;
    left: calc(50% - 353px / 2 + 4px);
    top: 0px;
    /* blue */
    background: orange;
    border-radius: 12px;
}

.home-box__review--white--main {
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 32px;
    position: static;
    width: 453px;
    height: 157px;
    left: calc(50% - 353px / 2 + 4px);
    top: 0px;
    /* blue */
    background: white;
    border-radius: 12px;
}

.home-box__review--purple--main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 32px;
    position: static;
    width: 453px;
    height: 157px;
    left: calc(50% - 353px / 2 + 4px);
    top: 0px;
    /* blue */
    background: #cfb1ff;
    border-radius: 12px;
}

.home-box__review--blue--main::after {
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid #22abf3;
    border-bottom: 10px solid transparent;
    content: "";
    position: absolute;
    top: 20px;
    left: -20px;
}

.home-box__review--orange--main::after {
    border-top: 10px solid transparent;
    border-left: 10px solid orange;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    content: "";
    position: absolute;
    top: 120px;
    right: -110px;
}

.home-box__review--purple--main::after {
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid #cfb1ff;
    border-bottom: 10px solid transparent;
    content: "";
    position: absolute;
    top: 20px;
    left: -20px;
}

.home-box__logo {
    left: 10%;
    width: 30%;
    margin-left: 220px;
    display: flex;
    justify-content: flex-start;
}

.home-box__review--white--main::after {
    border-top: 10px solid transparent;
    border-left: 10px solid white;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    content: "";
    position: absolute;
    top: 120px;
    right: -110px;
}

.home-box__dotpage {
    display: flex;
    justify-content: center;
}

.home-box__dot {
    display: flex;
    justify-content: center;
    margin-top: -80px;
    margin-left: 40px;
    position: relative;
    /* left: 30%; */
}

.v10 {
    background: #c5c5c5;
    width: 20px;
    height: 20px;
    opacity: 1;
    border-radius: 50%;
    margin-left: 20px;
}

.v10:first-child {
    background: black;
    width: 26px;
    height: 24px;
    opacity: 1;
    border-radius: 50%;
    margin-left: 20px;
}

.home-box__review--blue__title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
}

.home-box__review--blue__desc {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    padding-top: 20px;
}

.home-box__review--white--titlebox {
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
}


/* 1800 밑으로 갈시 변경 */

@media screen and (min-width: 1600px) and (max-width: 1800px) {
    .home-box__right {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: initial;
    }
    .home-box__dot {
        display: flex;
        justify-content: center;
        margin-top: -40px;
        margin-left: 40px;
        position: relative;
        left: -10%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1600px) {
    .home-box__dot {
        display: flex;
        justify-content: center;
        margin-top: -40px;
        margin-left: 40px;
        position: relative;
        left: 10%;
    }
    .home-box__review {
        width: 70%;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 120px;
    }
    .home-box__review--orange {
        width: 361px;
        height: 185px;
        bottom: 80px;
        margin-left: 400px;
        position: relative;
    }
    .home-box__review--white {
        width: 361px;
        height: 185px;
        bottom: 180px;
        position: relative;
        margin: 0 0 0 400px;
    }
    .home-box__review--blue--main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 32px;
        position: static;
        width: 353px;
        height: 157px;
        left: calc(50% - 353px / 2 + 4px);
        top: 0px;
        /* blue */
        background: #22abf3;
        border-radius: 12px;
    }
    .home-box__right {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home-box__review--orange--main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 32px;
        position: static;
        width: 353px;
        height: 157px;
        left: calc(50% - 353px / 2 + 4px);
        top: 0px;
        /* blue */
        background: orange;
        border-radius: 12px;
    }
    .home-box__review--white--main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 32px;
        position: static;
        width: 353px;
        height: 157px;
        left: calc(50% - 353px / 2 + 4px);
        top: 0px;
        /* blue */
        background: white;
        border-radius: 12px;
    }
    .home-box__review--purple--main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 32px;
        position: static;
        width: 353px;
        height: 157px;
        left: calc(50% - 353px / 2 + 4px);
        top: 0px;
        /* blue */
        background: #cfb1ff;
        border-radius: 12px;
    }
    /* 화살표 */
    .home-box__review--blue--main::after {
        border-top: 10px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid #22abf3;
        border-bottom: 10px solid transparent;
        content: "";
        position: absolute;
        top: 20px;
        left: -20px;
    }
    .home-box__review--orange--main::after {
        border-top: 10px solid transparent;
        border-left: 10px solid orange;
        border-right: 10px solid transparent;
        border-bottom: 10px solid transparent;
        content: "";
        position: absolute;
        top: 120px;
        right: -10px;
    }
    .home-box__review--purple--main::after {
        border-top: 10px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid #cfb1ff;
        border-bottom: 10px solid transparent;
        content: "";
        position: absolute;
        top: 20px;
        left: -20px;
    }
    .home-box__review--white--main::after {
        border-top: 10px solid transparent;
        border-left: 10px solid white;
        border-right: 10px solid transparent;
        border-bottom: 10px solid transparent;
        content: "";
        position: absolute;
        top: 120px;
        right: -10px;
    }
}