.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 500px;
}

.community-create {
    position: absolute;
    top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.community-create__text {
    display: flex;
    justify-content: center;
    width: 100%;
}

.community-create__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.community-create__input {
    display: inline-block;
    justify-content: center;
    width: 1140px;
}

.ck-reset {
    width: 80%;
}


/* 콘솔 로그에서 직으면 변경 안됨  */