.daljak__deco {
    display: inline-block;
    position: absolute;
    top: 189.98px;
}

.daljak__box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 204.98px;
    width: 100%;
    left: 0;
    right: 0;
}
.daljak__center {
    max-width: 100vw;
    overflow: hidden;
}
.daljak__box--cardlist {
    display: flex;
    align-items: center;
}
.daljak__box--cardlist div {
    margin-left: 15px;
}
.daljak__box__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.daljak__box--cardlist--card {
    text-align: center;
    margin-top: 20px;
    height: 180px;
    border-radius: 16px; 
}
.daljak__box--cardlist--card img {
    width: 250px;
}
.fa-play-circle {
    position: relative;
    right: 17px;
}


.daljak__center {
    display: flex;
    justify-content: center;
}

.daljak__box--text {
    width: calc(250px * 5);
    /* width: 34%;
    position: relative;
    align-items: flex-end; */
}
/* 추가 */
.daljak__box--title {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
}
.daljak__box--it--title {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
}

.daljak__box--cardlist--grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.daljak__box--cardlist--grid div {
    padding: 0 100px 20px 100px;
}

.daljak__category {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.daljak__category--box {
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.daljak__box--it--text--category {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
}

.daljak__box--cardlist--today {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.daljak__category--box--today {
    margin-top: 80px;
    display: flex;
    position: relative;
    left: 17%;
    width: fit-content;
}

.daljak__box--cardlist--card--today {
    margin-top: 20px;
    border-radius: 16px;
    display: flex;
}

.daljak__box--cardlist--card--today--text {
    display: flex;
    justify-content: space-between;
}

.daljak__box--cardlist--card--today--textbox {
    margin-left: 25px;
}

.daljak__box--cardlist--card--today--title {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
}

.daljak__box--cardlist--card--today--date {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height */
    text-align: right;
    /* Neutral/$gray-300 :: #999999 */
    color: #999999;
}

.daljak__box--cardlist--card--today--desc {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 26px;
}

.daljak__deco--bottom {
    display: inline-block;
    position: absolute;
    right: 18%;
}

@media screen and (max-width: 1800px) {
    .daljak__box--cardlist--grid div {
        padding: 0 80px 20px 80px;
    }
    .daljak__box--it--text--category {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 20 px;
    }
    .daljak__category--box--today {
        margin-top: 80 px;
        display: flex;
        position: relative;
        left: 7%;
    width: fit-content;

    }
    .daljak__deco--bottom {
        display: inline-block;
        position: absolute;
        right: 0;
    }
}